<%- include("partials/header.ejs")  %>
    
    <h2 class="mt-4 mb-4">
        <% let date = new Date() %>
        <% let day = date.getDate() %>
        <% let month = date.toLocaleDateString('default', {month: 'long'}) %>
        <% let dayName = date.toLocaleDateString('en-US', {weekday: 'long'}) %>
        <%= dayName %>, <%= month %> <%= day %>
    </h2>

    <form action="/" method="POST" class="mb-5">
        <input type="text" name="task" class="form-control task-input" placeholder="New Item">
        <button class="btn btn-primary add-button" type="submit">Add</button>
    </form>
       
<%- include("partials/createtask.ejs")  %>

<%- include("partials/footer.ejs")  %>
